---
title: 'Report: Three Principles for Progress'
layout: layouts/resource.njk
date: 2021-07-19
type: resource
image: /assets/images/content/resource_pages/principles-report-cover.png
resource_link: "https://osf.io/6khrv/"
excerpt: In 2021, the Immersive Healthcare Collaboration developed a set of principles to nurture progress on immersive tools in healthcare. Focussing on the specific domain of education and training, members devised a set of three core "principles for progress".    
---