---
title: 'Delivering Mental Health Consultations in XR'
layout: layouts/resource.njk
date: 2023-03-31
type: case-study
image: /assets/images/content/resource_pages/xr-mental-health-stacey.jpg
resource_link: "https://www.hee.nhs.uk/news-blogs-events/news/perinatal-mental-health-gets-virtual-reality-treatment-ground-breaking-training-programme"
excerpt: In 2023, our collaborators developed a world-first XR-based training programme for perinatal mental health support. Learn how they leveraged the unique abilities of XR to enhance healthcare professionals' understanding and empathy towards individuals experiencing perinatal mental health challenges.
---