---
title: 'How to Have IMPACT at Scale in Healthcare'
layout: layouts/resource.njk
date: 2023-08-21
type: resource
image: "https://img.youtube.com/vi/RQ3559_MfuM/0.jpg"
resource_link: "https://www.youtube.com/watch?v=RQ3559_MfuM"
excerpt: Neurosurgeon Dr. Will Bolton discusses routes to impactful applications of healthcare technology on the "Health Beyond Tomorrow" podcast.
---