---
title: 'Immersive Virtual Reality Training and Surgical Skill: A Systematic Review & Recommendations for Future Research'
layout: layouts/resource.njk
date: 2024-06-17
type: resource
image: ""
resource_link: "https://doi.org/10.1101/2024.06.17.24309027"
excerpt: Consumer-grade immersive virtual reality (iVR) systems have gained increasing attention for their potential applications in surgical training, but their efficacy in comparison to traditional training techniques remains unclear. This paper systematically reviews the recent literature comparing the impact of iVR-based and other training techniques on surgical proficiency.
---