---
title: 'Innovation Pop Up XR Health Hub Launch'
layout: layouts/resource.njk
date: 2024-02-29
type: case-study
image: /assets/images/content/resource_pages/leeds-innovation-pop-up.jpg
resource_link: "https://www.leedsth.nhs.uk/news/innovation-pop-up-xr-health-hub-launch/"
excerpt: The Leeds XR Health Hub (LXR Health Hub) is a joint venture between the Innovation Pop Up at Leeds Teaching Hospitals Trust and the University of Leeds’ Centre for Immersive Technologies. The LXR Health Hub supports the development of technical expertise among staff members, allowing them to create in-house immersive training solutions targetting unmet needs they see on the clinical frontlines.
---