---
title: 'Leeds Case Studies – Immersive Technology in Neurosciences'
layout: layouts/resource.njk
date: 2024-04-02
type: case-study
image: /assets/images/content/resource_pages/nhs-leeds-teaching-hospitals-trust-logo.jpg
resource_link: "https://www.leedsth.nhs.uk/about/future/innovation/innovation-pop-up/case-studies/"
excerpt: How can immersive technology help improve the way we deliver treatment and care? The NHS Leeds Teaching Hospitals Trust case studies explain how their "Innovation Pop Up" connects technology providers and industry partners with clinicians to evidence outcomes delivered by technology enabled care. 
---