---
title: 'Inclusive Futures: Harnessing Virtual Reality for Dementia Care'
layout: layouts/resource.njk
date: 2025-03-06
type: resource
image: "/assets/images/content/resource_pages/inclusive-futures-report-cover.png"
resource_link: "https://eprints.whiterose.ac.uk/223478/1/13561_UoL_Dementia_Immersive_Report.pdf"
excerpt: Developed in collaboration with the Centre for Immersive Technologies, Parklane Foundation, RecreoVR, Bradford District Care Trust and Leeds Hospitals Charity, this report explores how virtual reality can become an evidence-based component of high-quality dementia care, offering insights from experts and recommendations for long-term innovation.
---