---
title: 'Another Test Resource Page'
layout: layouts/resource.njk
date: 2023-10-06
image: /assets/images/content/resource_pages/test_image.jpg
excerpt: This is a short description of the resource.
---
