{% set navPages = collections.all | eleventyNavigation %}

<nav x-data="{ open: false }" @keydown.escape="open = false" class="flex items-center justify-center flex-wrap m-6 bg-white dark:bg-colour-dark">
  <div class="max-w-screen-xl w-full flex flex-wrap items-center justify-between">
  <div class="flex items-center flex-shrink-0 text-gray-700 dark:text-gray-50 mr-6">
    {% include "components/logo.njk" %}
  </div>
  <div class="block lg:hidden" aria-controls="navbar-default" aria-expanded="false">
    <button type="button" @click="open = !open" class="flex items-center px-3 py-2 border-2 text-gray-400 border-gray-400 hover:text-gray-500 hover:border-gray-500 dark:text-gray-50 dark:border-gray-50 hover:dark:text-gray-100 hover:dark:border-gray-100" :class = "{'border-b-0':open}">
      <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
  </div>
  <div class="w-full border-2 border-gray-400 dark:border-gray-50 lg:border-0 lg:flex lg:items-center lg:w-auto" :class="{ 'block shadow-3xl': open, 'hidden': !open }">
    <div class="text-sm lg:block lg:flex-grow">
      <ul class="flex-row lg:flex">
        {% for entry in navPages %}
        <li>
          {% if entry.url != "/" %}
          <a {% if page.url != entry.url %} href="{{ entry.url | url }}"{% endif %} 
             {% if page.url == entry.url %} class="select-none block py-3 px-4 pb-4 text-lg lg:text-base lg:text-lg lg:inline-block lg:mt-0 text-gray-700 bg-gray-50 dark:text-gray-200 dark:bg-gray-800 underline underline-offset-2 lg:bg-transparent" aria-current="page" {% endif %}
             {% if page.url != entry.url %} class="select-none block py-3 px-4 pb-4 text-lg lg:text-base lg:text-lg lg:inline-block lg:mt-0 text-gray-700 dark:text-gray-200 hover:text-gray-800 hover:bg-gray-100 dark:hover:text-gray-200 dark:hover:bg-colour-dark-2"{% endif %}>{{ entry.title }}</a>
          {%endif%}
        </li>
        {% endfor %}
      </ul>
      
    </div>
  </div>
  </div>
</nav>