---
title: Immersive Healthcare Collaboration - About
description: About the Immersive Healtcare Collaboration
layout: layouts/main.njk
eleventyNavigation:
  key: about
  title: About
  order: 1
---
<section class="bg-white dark:bg-gray-900">
  About page under construction
</section>