---
title: Contact
description: Contact the Immersive Healtcare Collaboration
layout: layouts/main.njk
eleventyNavigation:
  key: contact
  title: Contact
  order: 5
---

<section
  class="bg-white dark:bg-colour-dark bg-pattern-1  my-12">
  <div class="grid place-content-center max-w-screen-xl px-4 py-8 mx-auto lg:py-12 lg:mt-12 lg:grid-cols-12">
    <div class="mr-auto place-self-center lg:col-span-10">
      <h1
        class="text-center uppercase text-colour-dark dark:text-white lg:text-left mb-4 text-3xl/snug font-extrabold tracking-normal md:text-4xl/snug xl:text-5xl/snug ">
        Contact Us</h1>
      <p
        class=" text-center lg:text-left mb-5 mt-5 font-light text-colour-dark mx-15 md:mx-5 md:ml-0 md:mr-6 lg:mb-8 md:text-lg/normal lg:text-xl/normal dark:text-gray-100">
        For general enquiries relating to the Immersive Healthcare Collaboration, please use the form below.
      </p>
      <p
        class=" text-center lg:text-left mb-5 mt-5 font-light text-colour-dark mx-15 md:mx-5 md:ml-0 md:mr-6 lg:mb-8 md:text-lg/normal lg:text-xl/normal dark:text-gray-100">
        To express your interest in joining the Immersive Healthcare Collaboration, please see the <a class="underline" href="{{'/join' | url}}">sign-up form.</a>
      </p>
    </div>
  </div>
</section>

<section class="bg-colour-neutral dark:bg-colour-dark-2 py-10">
  
   <div class="max-w-screen-xl px-8 pb-8 pt-4 mx-auto my-5">
    <h2
        class="text-center text-colour-dark dark:text-white lg:text-left mb-10 text-xl/snug font-extrabold tracking-normal md:text-2xl/snug xl:text-3xl/snug ">
        General Enquiries</h2>
  <div class="max-w-lg px-4 pb-8 mx-auto lg:mx-0">
    <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xeqbbzdq" method="post">
  <fieldset class="flex flex-col" id="fs-frm-inputs">
    <label class="form-label-required dark:text-white" for="forename">Name:</label>
    <input class="form-input" type="text" name="forename" id="forename" placeholder="" required="True">

    <label class="form-label-required dark:text-white" for="email-address">Email Address:</label>
    <input class="form-input" type="email" name="email-address" id="email-address" placeholder="" required="True">
    
    <label class="form-label-required dark:text-white" for="surname">Subject:</label>
    <input class="form-input" type="text" name="_subject" id="email-subject" placeholder="" required="True">


    <label class="form-label-required dark:text-white" for="message">Message:</label>
    <textarea class="form-input" rows="5" name="message" id="message" placeholder="" required="True"></textarea>
	
  </fieldset>
  <input class="mx-auto lg:mx-0 button-square-primary dark:button-square-primary-light mt-8" type="submit" value="Submit">
</form>
</div>
</div>
</section>