---
title: Contact
description: Contact the Immersive Healtcare Collaboration
layout: layouts/main.njk
---

<section
  class="bg-white dark:bg-colour-dark bg-[url('/assets/images/content/bg-cyberspace.png')] bg-no-repeat bg-right-bottom bg-contain my-12">
  <div class="grid place-content-center max-w-screen-xl px-4 py-8 mx-auto lg:py-12 lg:mt-12 lg:grid-cols-12">
    <div class="mr-auto place-self-center lg:col-span-10">
      <h1
        class="text-center uppercase text-colour-dark dark:text-white lg:text-left mb-4 text-3xl/snug font-extrabold tracking-normal md:text-4xl/snug xl:text-5xl/snug ">
        Join the Collaboration</h1>
      <p
        class=" text-center lg:text-left mb-5 mt-5 font-light text-colour-dark mx-15 md:mx-5 md:ml-0 md:mr-6 lg:mb-8 md:text-lg/normal lg:text-xl/normal dark:text-gray-100">
        To express your interest in joining the Immersive Healthcare Collaboration, please complete the form below. After signing up, your email address will be added the mailing list to be notified of future collaboration opportunities.
      </p>
    </div>
  </div>
</section>

<section class="bg-colour-neutral dark:bg-colour-dark-2 py-10">
   <div class="max-w-screen-xl px-8 pb-8 pt-8 mx-auto my-5">
  <div class="max-w-lg px-4 pb-8 mx-auto lg:mx-0" x-data="{selectedExpertise: [], numSelected() {return this.selectedExpertise.length + ' selected'}, deselect(ex) {this.selectedExpertise = this.selectedExpertise.filter(item => item !== ex)}, select(ex) {if(this.selectedExpertise.indexOf(ex)) { this.selectedExpertise.push(ex)}}, isSelected(exList) {return (exList.split(',')).every(v => this.selectedExpertise.includes(v))}}">
    <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xbjvvkpq" method="post">
  <fieldset class="flex flex-col" id="fs-frm-inputs">
    <label class="form-label-required dark:text-white" for="forename">Forename:</label>
    <input class="form-input" type="text" name="forename" id="forename" placeholder="" required="True">

    <label class="form-label-required dark:text-white" for="surname">Surname:</label>
    <input class="form-input" type="text" name="surname" id="surname" placeholder="" required="True">

    <label class="form-label-required dark:text-white" for="institution">Institution:</label>
    <input class="form-input" type="text" name="institution" id="institution" placeholder="" required="True">

    <label class="form-label-required dark:text-white" for="email-address">Email Address:</label>
    <input class="form-input" type="email" name="email-address" id="email-address" placeholder="" required="">
	
    <input type="hidden" name="expertise" x-bind:value="selectedExpertise" required="True">

    <label class="form-label-optional dark:text-white">Expertise (<span class="text-sm" x-text="numSelected()"></span>):</label>
    <div class="flex flex-wrap bg-white dark:bg-colour-dark-2 p-2">
      {% for expertiseTag in expertiseTags.tags %}
        <p class="select-none px-2 py-2 mr-4 my-2 border-2 text-sm" x-data="{ active: false }" @click="active ? deselect('{{expertiseTag}}') : select('{{expertiseTag}}'); active = !active" :class="{ 'border-colour-dark bg-colour-neutral dark:border-white dark:bg-colour-gray-100': active,  'border-colour-gray-300 bg-gray-100 text-gray-400 dark:border-gray-400 dark:bg-colour-dark dark:text-gray-400': !active }">{{expertiseTag}}</p>
      {% endfor %}
    </div>

    <input type="hidden" name="_subject" id="email-subject" value="New Member Request">
  </fieldset>
  <input class="mx-auto lg:mx-0 button-square-primary dark:button-square-primary-light mt-16" type="submit" value="Submit">
</form>
</div>
</div>
</section>