---
title: Immersive Healtcare Collaboration - Network
description: Members of the Immersive Healtcare Collaboration
layout: layouts/main.njk
eleventyNavigation:
  key: network
  title: Network
  order: 3
pagination:
  data: people 
  size: 100
---
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
      <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Our Members</h2>
          <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Members and contributors to the Immersive Healthcare Collaboration</p>
      </div> 
      <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {% for person in people %}
          <div class="text-center p-5 text-gray-500 dark:text-gray-400 bg-gray-50 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
              <img class="mx-auto mb-4 w-36 h-36 rounded-full" src="{{ person.image }}" alt="{{ person.name }} Avatar">
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  <a href="/people/{{person.slug}}">{{ person.name }}</a>
              </h3>
              <p>{{ person.jobTitle }}</p>
              <a href="{{ person.companyWebsites[0] }}" class="text-[#39569c] hover:text-gray-900 dark:hover:text-white">{{ person.companies[0] }}</a>
              <ul class="flex justify-center mt-4 space-x-4">

                  {# Twitter / X #}
                  {% if person.twitter != "" %}
                  <li>
                      <a href="{{person.twitter}}" class="text-[#00acee] hover:text-gray-900 dark:hover:text-white">
                         <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path d="m 13.904668,10.46961 7.446667,-8.4696098 h -1.764 L 13.118668,9.3525399 7.9560009,2.0000002 H 2.0000002 L 9.8086669,13.119402 2.0000002,22 H 3.7640004 L 10.590668,14.233805 16.044002,22 H 22 M 4.4006669,3.3015824 H 7.1106668 L 19.586001,20.762366 h -2.710667"/></svg>
                      </a>
                  </li>
                  {% endif %}

                  {# GitHub #}
                  {% if person.github != "" %}
                  <li>
                      <a href="{{person.github}}" class="text-[#ea4c89] hover:text-gray-900 dark:hover:text-white">
                          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" /></svg>
                      </a>
                  </li>
                  {% endif %}

                  {#LinkedIn#}
                  {% if person.linkedin != "" %}
                  <li>
                      <a href="{{person.linkedin}}" class="text-[#ea4c89] hover:text-gray-900 dark:hover:text-white">
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z" clip-rule="evenodd"></path></svg>
                      </a> 
                  </li> 
                  {% endif %}
              </ul>
          </div>
          {% endfor %}
      </div>  
  </div>
</section>