---
title: Resources
description: Resources produced by the Immersive Healtcare Collaboration
layout: layouts/main.njk
eleventyNavigation:
  key: resources
  title: Resources
  order: 2
---
<section class="bg-white dark:bg-gray-900">
  Resources page under construction
</section>